.task-list {
    position: absolute;
    width: 300px;
    min-height: 50px;
    max-height: 400px;
    display: flex;
    overflow-y: auto;
    background-color: var(--oxford-blue);
    border-radius: 10px;
    border: 2px solid var(--rich-black);
    z-index: 2;
    animation: fadeIn 0.2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.task-item-name {
    font-size: 14px;
    color: var(--lavender-web);
    font-family: 'MainFont';
    user-select: none;
}

.task-item-desc {
    font-size: 12px;
    color: var(--lavender-web);
    font-family: 'MainFont';
    filter: brightness(80%);
    user-select: none;
}

.task-item-percent {
    font-size: 10px;
    color: var(--lavender-web);
    font-family: 'MainFont';
    filter: brightness(80%);
    user-select: none;
}

.task-item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--oxford-blue);
    filter: brightness(90%);
    transition: filter 0.2s;
    padding: 7px;
    box-sizing: border-box;
}

.task-item:hover {
    filter: brightness(80%);
}

.task-list > :nth-child(1) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}