body {
    margin: 0;
    padding: 0;
    --black: #000000ff;
    --rich-black: #0c1821ff;
    --oxford-blue: #1b2a41ff;
    --charcoal: #324a5fff;
    --lavender-web: #ccc9dcff;
    --page-bar-width: 160px;
    background-color: black;
    overflow: hidden;
}

@font-face {
    font-family: 'JetBrainsMonoNL-Bold';
    src: url('./fonts/jetbrains/JetBrainsMonoNL-Bold.ttf');
}

.home-icon {
    width: 25px;
    height: 25px;
    background-image: url('./icons/home.png');
    background-position: center;
    background-size: cover;
    image-rendering: optimizeQuality;
    filter: invert(80%);
}

.settings-icon {
    width: 23px;
    height: 23px;
    background-image: url('./icons/gear.png');
    background-position: center;
    background-size: cover;
    image-rendering: optimizeQuality;
    filter: invert(80%);
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('./images/wallpaper_minecraft_warden_2560x1440.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    justify-content: space-between;
}

.content > .page-bar-main {
    margin-right: 5px;
}

.page-area {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #0000005f;
    border: 2px solid var(--rich-black);
    border-radius: 10px;
    box-sizing: border-box;
}

.tpage-enter {
    opacity: 0;
    transform: translateY(40px);
}

.tpage-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}

.tpage-exit {
    opacity: 1;
    transform: translateY(0);
}

.tpage-exit-active {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 300ms, transform 300ms;
}